nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
}
header{
    width: 90%;
    height: 90px;
    margin: 0 5%;
}
header nav ul li a{
    text-decoration: none;   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20.1875px;
    line-height: 30px;
    color: #3D3D3D;
}


.search-section{
    display: flex;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 70px;
    background: #0052CC;
    border-radius: 0px;
}
.search{
    width: 436.27px;
    height: 44.86px;
    background: #FFFFFF;
    border-radius: 6.72917px;
    margin-left: 588px;
    border: none;    
}
.search-section h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.7014px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.search-section img{
    margin-left: 60px;
}
.search-section h3{
    margin-left: 30px;
}
.img2{
    position: absolute;
    right: 670px;
}
.link-divs{
    display: flex;
    gap: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 30px;
    height: 340px;
    width: 90%;
    margin: 0 5%;
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 260px;
  }
  .card{
    width: 260px;
    height: 340px;
  }
  .heading{
     font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 4.5% 0;
  }
  .inside-div{
    display: flex;
    justify-content: space-between ;
    width: 90%;
    margin: 0 5%;
    border-bottom: solid #3F69FF;
  }
  .inside-div h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .inside-div h6{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #373737;
  }
  .inside-div2{
    display: flex;
    justify-content: space-around;
  }
  .inside-div2 h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #6A6A6A;
  }
  .inside-div2 h4{     
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
}
footer{
  
  background-color: #0052CC;
  margin-top: 400px;
  width: 100%;
  height: 249px;
  
}
.footer-div1 img{
  margin-top: 30px;
  margin-left: 5%;
}
.footer-div2{
  display: flex;
  gap: 20px;
  margin-top: 120px;
}
.big-div{
  margin-left: 5%;
}
.footer-div3{
  display: flex;
  justify-content: space-between;
}
.footer-div4 input{
  width: 254px;
  height: 40px;
  border-radius: 6px;
  border: none;
}
.footer-div4 h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.footer-great-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}
.footer-div3 ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-div3 ul li{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-div4 img{
  position: absolute;
  right: 60px;
  top: 15px;
}
.footer-div4{
  position: relative;
}
.img-div, .img-div1, .img-div2, .img-div3 {
  width: 272px;
  height: 352px;
}
