.sus{
  width: 100px;
  height: 100px;
  background: red;
  animation-name: box;
  animation-duration: 20s;
  animation-direction: normal;
  position: absolute;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes box {
  0%{
    background-color: blue;top: 0px;left: 0px;
  }
  10%{
    background-color: green;top: 200px;left: 0px;
  }
  15%{
    background-color:palevioletred;top: 200px; left: 200px;
  }
  20%{
    background-color: aquamarine;left: 200px;top: 400px;
  }
  30%{
    background-color: green;left:700px; top: 400px;
  }
  40%{
    background-color: blueviolet;left: 700px;top: 200px;
  }
  50%{
    background-color: blue;top: 200px; left: 1300px;
  }
}
body{
  background-color: red;
  padding: 0;
  margin: 0;
}
.sus a{
  
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.background1{
  background: black;
  width: 100px;
  height: 300px;
  margin: 0;
  padding: 0;
}
.background2{
  position: relative;
  background-color: black;
  left: 100px;
  bottom: 100px;
  width: 200px;
  height: 100px;
}
.background3{
  position: relative;
  bottom: 100px;
  left: 200px;
  background: black;
  width: 100px;
  height: 200px;

}
.background4{
  position: relative;
  bottom: 200px;
  left: 300px;
  background:black;
  width: 500px;
  height: 100px;
}
.background5{
  position: relative;
  bottom: 500px;
  left: 700px;
  background:black;
  width: 100px;
  height: 200px;
}
.background6{
  position: relative;
  bottom: 700px;
  left: 800px;
  background:black;
  width: 600px;
  height: 100px;
}
.clickme{
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
  bottom: 800px;
  left: 1400px;

}
.clickme a{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.finish{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 1000px;
  bottom: 700px;
  background-color: black;
  width: 790px;
  height: 100px;
  rotate: 90deg;
}
.finish h1{
  color: white;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 70px
}
