nav{
    display: flex;
    gap: 8%;
    justify-content: center;
    padding-top: 1.5%;
    border-bottom: solid black 2px;
}
a{
    text-decoration: none;
    color: black;
    font-family: poppins;
    padding-bottom: 20px;
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
}
p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    padding-left: 10px;
    
}
.first-div{
    width: 333px;
    height: 487px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-top: 10%;
   
}
.extra-link{
    border: 1px solid #000000;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 20px; 
}
.first-subdiv{
    margin-top: 10px;
    width: 118px;
    height: 30px;
    margin-left: 60%;
    
}
main{
    display: flex;
    gap: 12%;
    margin-left: 5%;
    
}
.second-div{
    width: 333px;
    height: 487px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-top: 10%;
}
.img2{
    margin-left: 13px;
}
.third-div{
    width: 333px;
    height: 487px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-top: 10%;
}
.extra-link2, .extra-link3{
        border: 1px solid #000000;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 20px; 
}
.extra-link-div1{
    margin-top: 10px;
    margin-left: 60%;
}
