nav{
    display: flex;
    gap: 8%;
    justify-content: center;
    padding-top: 1.5%;
    border-bottom: solid black 2px;
}
a{
    text-decoration: none;
    color: black;
    font-family: poppins;
    padding-bottom: 20px;
}
h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin-top: 10%;
}
p{
    ont-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}
div{
    margin-left: 10%;
    margin-top: 10%;
}
.p2{
    margin-top: 40px;
    margin-left: 150px;
    
}