nav{
    display: flex;
    gap: 350px;
}
nav .navdiv2 ul{
    display: flex;
    gap: 70px;
}
header{
    border-bottom: solid black 2px;
}
.first-img{
    margin-top: 22px;
    margin-left: 70px;
    padding-bottom: 30px;
}
.second-img{
    margin-top:17px;
}
.navdiv2 ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.navdiv2 ul{
    list-style: none;
}
h1{
    text-align: center;
    color: #7D0000;
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-top: 10%;
}
.contactus{
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #0B253E;
}
main{
    display: flex;
    gap: 300px;
    margin-left: 310px;
    margin-top:100px;
}
.map{
    margin-left: 320px;
    margin-top: 100px;
    
}